<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <center>

        <h1>
            Select From Below Stations <br>
            {{lis}} <br>
            <form action="" method="POST">
                NAME OF PASSENGER: <input type="text" name="username"><br>
                CURRENT STATION: <input type="text" name="from"><br>
                DESTINATION STATION: <input type="text" name="dest"><br>
                <br>
                <h3>Select Comparment Type</h3>
                <div>
                    <input type="submit" name="action" value="I CLASS">
                </div>
                <div>
                    <input type="submit" name="action" value="II CLASS">
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div>
                    To return home page press
                    <input type="submit" name="action" value="HOME">
                </div>

            </form>
        </h1>
    </center>

</body>

</html>