<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booked</title>
</head>

<body>
    <center>
        <h1>Ashutosh Railways</h1>
        <h2>Name of Passenger:{{name1}}
            <br>
            Route:{{route}} <br>
            current station {{cur}} - destination station {{des}} <br>
            class: {{cls}} class --- cost:{{cost}} <br> date and time :{{date}} <br>
            commence jouney in 1 hr
        </h2>
        <h5>THANKYOU FOR BOOKING TICKET ON ASHUTOSH RAILWAYS</h5>
        <H4>HAPPY JOURNEY</H4>
        ​<h2>TO PRINT YOUR E-TICKET</h2>
        <p>Click the button PRINT below.</p>​

        <button onclick="printFunction()">Print</button>​

        <script>
            function printFunction() {
                window.print();
            }
        </script>​

    </center>

</body>

</html>