<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashutosh Railways</title>
</head>

<body>
    <center>
        <h1>Welcome To Ashutosh Railways</h1>
        <h2>Book ticket by clicking on BOOK NOW</h2>
        <h4>
            note:
            <br>
            Passanger have to carry ticket throughout journey <br>
            Fine will be charged for any nuisance <br>  
            Compulsory ticket for age above 5
            <br>
        </h4>

        <form action="" method="POST">
            <h3>
                <button>BOOK NOW</button>
            </h3>
        </form>
        <img src="{{url_for('static',filename='rail.jpg')}}" />

    </center>
</body>

</html>